@import "partials/variables";

@font-face {
    font-family:"GoT";
    src:url("https://angu.no/semesterprosjekt2/media/gotfont.ttf") format("truetype");
}
* {
    margin:0;
    padding:0;
    font-family:Karla;
}
h1,h2,h3 {
    font-family:"GoT";
    padding:10px 0px 20px 0px;
    color:$text-color;
    font-weight:normal;
}
p {
    padding:10px 0px;
    color:$text-color;
}
hr{
    border-left:none;
}
.btn {
    padding:10px 20px;
    outline:none;
    border:none;
    font-size:18px;
    font-weight:700;
    color:#000;
    background:#fff;
    cursor:pointer;
    a {
        display:block;
        text-decoration:none;
        color:black;
    }
    &--red {
        background:$red;
        color:#fff;
    }
    &--green {
        background:$green;
        color:#fff;
    }
    &--blue {
        background:$blue;
        color:#fff;
    }
    &:disabled {
        background:rgb(175, 175, 175);
        cursor:default;
    }
}
.page {
    background:#ffffff;
    &__wrap {
        margin:0 auto;
        padding:0px 20px;
        width:1280px;
        display:block;
    }
    &__message {
        background:white;
        position:fixed;
        z-index:3;
        border:1px solid $text-color;
        padding:20px;
        padding-bottom:70px;
        left: 50%;
        top:20%;
        transform: translate(-50%, 0);
        display:none;
        h1 {
            text-align:center;
        }
        .btn {
            position:absolute;
            bottom:20px;
            right:20px;
        }
    }
    &__logo {
        //fjern
        padding:50px 0px 20px 0px;
        img {
            width:500px;
            display:block;
            margin:0 auto;
        }
        //fjern
        h1 {
            text-align:center;
        }
    }
    &__warning {
        display:none;
        background:rgb(226, 61, 32);
        position:fixed;
        z-index:4;
        top:50px;
        padding:20px;
        margin:10px auto;
        text-align:center;
        img, p {
            display:block;
            margin:0 auto;
            vertical-align:top;
            color:#fff;
            font-weight:700;
        }
        img {
            height:50px;
            width:50px;
        }
    }
    &__load {
        position:fixed;
        z-index:1;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:#f2f2f2;
        img {
            height:100px;
            display:block;
            position:fixed;
            top:40%;
            bottom:40%;
            left:40%;
            right:40%;
            margin:0 auto;
            animation:spin 1.5s ease-in-out infinite;
        }
    }
    &__hero {
        padding:100px 0px;
        .inline-div {
            display:inline-block;
            vertical-align:top;
        }
        .content-text {
            font-size:20px;
        }
    }
    &__line {
        width:75%;
        margin:0 auto;
    }
}
@keyframes spin {
    from {transform:rotate(359deg)}
    to {transform:rotate(0deg)}
}
.hero {
    &__title {
        font-size:24px;
    }
    &__img {
        display:block;        
        margin:0 auto;
    }
}

.icons {
    display:none;
}
.canvas-wrap {
    background:#fff;
    margin:0 auto;
    width:800px;
    height:500px;
}
#boardgame {
    width:800px;
    height:500px;
    background:url("../media/canvasbg.png");
    background-size:100% 100%;
    border:1px solid black;
    display:block;
    margin:50px auto;
}
.character-select {
    &__titles {
        text-align:center;
        font-size:22px;
    }
    .card {
        display:inline-block;
        vertical-align:top;
        position:relative;
        img {
            width:90%;
            margin:0 auto;
            display:block;
        }
    }
}
.card-menu {
    .btn {
        display:block;
        width:80%;
        margin:5px auto;
        text-shadow:none;
        color:$text-color;
        border:1px solid $text-color;
        background:white;
    }
}
.player-flair {
    position:absolute;
    top:50px;
    left:-5%;
    width:110%!important;
}
.start-game {
    margin:20px 0px;
    &__btn {
        float:right;
    }
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
// .winner-graphic {
//     &__p1 {
        
//     }
//     &__p2 {

//     }
//     &__podium {
        
//     }
// }


@import "partials/media";
@import "partials/col";