@font-face {
  font-family: "GoT";
  src: url("https://angu.no/semesterprosjekt2/media/gotfont.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: Karla;
}

h1, h2, h3 {
  font-family: "GoT";
  padding: 10px 0px 20px 0px;
  color: #333333;
  font-weight: normal;
}

p {
  padding: 10px 0px;
  color: #333333;
}

.btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  background: #fff;
  cursor: pointer;
}
.btn a {
  display: block;
  text-decoration: none;
  color: black;
}
.btn--red {
  background: #c7464a;
  color: #fff;
  text-shadow: 1px 2px rgba(110, 110, 110, 0.5);
}
.btn--green {
  background: #51b95f;
  color: #fff;
  text-shadow: 1px 2px rgba(110, 110, 110, 0.5);
}
.btn--green a {
  color: white;
}
.btn--blue {
  background: #4a8cb8;
  color: #fff;
}
.btn:disabled {
  background: #afafaf;
  cursor: default;
}

.page {
  background: #ffffff;
}
.page__wrap {
  margin: 0 auto;
  padding: 0px 20px;
  width: 1280px;
  display: block;
}
.page__message {
  background: white;
  position: fixed;
  z-index: 3;
  border: 1px solid #333333;
  padding: 20px;
  padding-bottom: 70px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  display: none;
}
.page__message h1 {
  text-align: center;
}
.page__message .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.page__logo {
  padding: 50px 0px 20px 0px;
}
.page__logo img {
  width: 500px;
  display: block;
  margin: 0 auto;
}
.page__warning {
  display: none;
  background: #e23d20;
  position: fixed;
  z-index: 4;
  top: 50px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
}
.page__warning img, .page__warning p {
  display: block;
  margin: 0 auto;
  vertical-align: top;
  color: #fff;
  font-weight: 700;
}
.page__warning img {
  height: 50px;
  width: 50px;
}
.page__load {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f2f2f2;
}
.page__load img {
  height: 100px;
  display: block;
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
  margin: 0 auto;
  animation: spin 1.5s ease-in-out infinite;
}
.page__hero {
  padding: 100px 0px;
}
.page__hero .content-text {
  font-size: 20px;
}
.page__line {
  width: 75%;
  margin: 0 auto;
  border-left: none;
  border-top: 0.5px solid #ccc;
}

@keyframes spin {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.hero__title {
  font-size: 24px;
}
.hero__img {
  display: block;
  margin: 0 auto;
}

.icons {
  display: none;
}

.canvas-wrap {
  background: #fff;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

#boardgame {
  width: 800px;
  height: 500px;
  background: url("../media/canvasbg.png");
  background-size: 100% 100%;
  border: 1px solid black;
  display: block;
  margin: 50px auto;
}

.character-select__titles {
  text-align: center;
  font-size: 22px;
}
.character-select .card {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.character-select .card img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.card-menu .btn {
  display: block;
  width: 80%;
  margin: 5px auto;
  text-shadow: none;
  color: #333333;
  border: 1px solid #333333;
  background: white;
}

.player-flair {
  position: absolute;
  top: 50px;
  left: -5%;
  width: 110% !important;
}

.start-game {
  margin: 20px 0px;
}
.start-game__btn {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.winner-graphic__wrap {
  width: 500px;
  margin-top: 250px;
  position: relative;
}
.winner-graphic__winner, .winner-graphic__loser, .winner-graphic__star {
  position: absolute;
  height: 240px;
  width: 240px;
}
.winner-graphic__star {
  height: 100px;
  width: 100px;
  left: 5px;
  top: -225px;
  animation: spin 4s ease-in-out infinite;
}
.winner-graphic__winner {
  top: -230px;
  left: 5px;
}
.winner-graphic__loser {
  position: absolute;
  right: 5px;
  top: -80px;
}

.winner-hero {
  padding: 100px 50px 0px 0px;
  text-align: right;
}
.winner-hero p {
  padding-bottom: 20px;
}
.winner-hero .btn {
  padding: 10px 30px;
  margin-bottom: 30px;
}

.footer {
  padding: 30px 0px 50px 0px;
}
.footer__list {
  margin-top: 20px;
  list-style-type: none;
  line-height: 2;
  text-align: center;
}

.cheater-div {
  display: none;
  text-align: center;
}
.cheater-div p {
  padding-bottom: 20px;
}

.inline-div {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  .page__warning--screen {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .winner-hero {
    padding-top: 10px;
    text-align: center;
  }

  .winner-graphic__wrap {
    margin: 250px auto 20px auto;
  }
}
@media only screen and (max-width: 768px) {
  .page__wrap {
    padding: 0px 10px;
  }
  .page__logo img {
    width: 80%;
  }
  .page__hero {
    height: auto;
    padding: 10px 0px 20px 0px;
  }
  .page__hero img {
    padding: 10px 0px;
  }
  .page__hero .inline-div {
    display: block;
    margin: 0 auto;
  }
  .page__message {
    top: 10%;
  }

  .character-select__titles {
    font-size: 18px;
  }
  .character-select .card {
    padding: 0;
  }

  .winner-graphic__wrap {
    width: 300px;
    margin-top: 140px;
  }
  .winner-graphic__winner, .winner-graphic__loser {
    width: 140px;
    height: 140px;
  }
  .winner-graphic__star {
    height: 50px;
    width: 50px;
    top: -125px;
  }
  .winner-graphic__winner {
    top: -130px;
  }
  .winner-graphic__loser {
    top: -40px;
  }
}
@media only screen and (max-width: 500px) {
  .btn {
    font-size: 14px;
  }

  .page__logo img {
    width: 100%;
  }
  .page__hero {
    text-align: center;
  }

  .character-select .card {
    width: 50%;
  }
  .character-select h2 {
    padding: 20px 0px 10px 0px;
  }
}
[class^=col] {
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.3%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.5%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 24.99%;
}

.col-2 {
  width: 16.66%;
}

@media only screen and (max-width: 1280px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-7 {
    width: 58.3%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.5%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 24.99%;
  }

  .col-md-2 {
    width: 16.66%;
  }
}
@media only screen and (max-width: 992px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-7 {
    width: 58.3%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.5%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-3 {
    width: 24.99%;
  }

  .col-sm-2 {
    width: 16.66%;
  }
}
@media only screen and (max-width: 768px) {
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-7 {
    width: 58.3%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.5%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-3 {
    width: 24.99%;
  }

  .col-xs-2 {
    width: 16.66%;
  }
}

/*# sourceMappingURL=main.css.map */
