@import "partials/media";

* {
    margin:0;
    padding:0;
    font-family:Karla;
}
.page {
    background:#f2f2f2;
    font-family:Helvetica, Arial, sans-serif;
    &__logo {
        img {
            height:200px;
            display:block;
            margin:0 auto;
        }
    }
    &__warning {
        display:none;
        background:rgb(226, 61, 32);
        position:fixed;
        top:20px;
        padding:20px;
        margin:10px;
        text-align:center;
        img, p {
            display:inline-block;
        }
        img {
            height:50px;
        }
    }
}
.icons {
    display:none;
}
.canvas-wrap {
    background:#fff;
    margin:0 auto;
    width:800px;
    height:500px;
}
#boardgame {
    width:800px;
    height:500px;
    background:url("../canvasbg.png");
    background-size:100% 100%;
    border:1px solid black;
    display:block;
    margin:50px auto;
}
.card {
    width:200px;
    height:500px;
    background:tomato;
}
.btn {
    padding:10px 20px;
    margin:10px 0px;
    outline:none;
    border:none;
    color:white;
    font-weight:700;
    background:#4b4b4b;
    a {
        display:block;
        text-decoration:none;
        color:white;
    }
    &--reset {
        background:red;
    }
    &--start {
        background:lightseagreen;
        &:disabled {
            background:rgb(175, 175, 175);
        }
    }
}

@import "partials/media";