@media only screen and (max-width:800px) {
    .page {
        &__warning {
            &--screen {
                display:block;
            }
        }
    }
}
@media only screen and (max-width:1200px) {
    //legg til ting her
}
@media only screen and (max-width:992px) {
    //small
}
@media only screen and (max-width:768px) {
    //xs
    .page {
        &__wrap {
            padding:0px 10px;
        }
    }
    .character-select {
        .card {
            padding:0;
        }
    }
}