@media only screen and (max-width:800px) {
    .page {
        &__warning {
            &--screen {
                display:block;
            }
        }
    }
}
@media only screen and (max-width:1200px) {
    //legg til ting her
}
@media only screen and (max-width:992px) {
    //small
    .winner-hero {
        padding-top:10px;
        text-align:center;
    }
    .winner-graphic {
        &__wrap {
            margin:250px auto 20px auto;
        }
    }
}
@media only screen and (max-width:768px) {
    //xs
    .page {
        &__wrap {
            padding:0px 10px;
        }
        &__logo {
            img {
                width:80%;
            }
        }
        &__hero {
            height:auto;
            padding:10px 0px 20px 0px;
            img {
                padding:10px 0px;
            }
            .inline-div {
                display:block;
                margin:0 auto;
            }
        }
        &__message {
            top:10%;
        }
    }
    .character-select {
        &__titles {
            font-size:18px;
        }
        .card {
            padding:0;
        }
    }
    .winner-graphic {
        &__wrap {
            width:300px;
            margin-top:140px;
        }
        &__winner, &__loser {
            width:140px;
            height:140px;
        }
        &__star {
            height:50px;
            width:50px;
            top:-125px;
        }
        &__winner {
            top:-130px;
        }
        &__loser {
            top:-40px;
        }
    }
}
@media only screen and (max-width:500px) {
    .btn {
        font-size:14px;
    }
    .page {
        &__logo {
            img {
                width:100%;
            }
        }
        &__hero {
            text-align:center;
        }
    }
    .character-select {
        .card {
            width:50%;
        }
        h2 {
            padding:20px 0px 10px 0px;
        }
    }
}